.home-page-container {
    position: absolute;
    background-color: rgb(197, 216, 238);
    border-style: none;
    border-radius: 16px;
    width: 94%;
    padding: 40px;  
    margin-top: 20px; 
}

.group-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.groupTitle {
    font-size: 36px;
    justify-content: center;
}

.joingroupBut {
    padding: 3px !important;
}

.AddGroupButton {
    width: 220px;
    height: 220px;
}

.group-button-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}