.statistics-page-title {
    color: white;
}

.statistics-page {
    width: 100%;
    align-items: center;
}

.statistics-container {
    width: 80%;
    border-style: none;
    border-radius: 16px;
    background-color: #e9eef5;
    margin: 20px 80px;
    padding: 22px 28px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}