.ddeck {
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.form-group {
    width: 180px;
}

.btn {
    height: 38px;
}

.create-deck-button {
    
    height: 40px;
}

.create-deck-form {
    margin-right: 20px;
}