.deck-title {
    color: white;
    padding: 0px 30px;
}

.cardStuff, .whiteWord {
    color: white;

}

.flashcards-page {
    width: 100%;
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.flashcards-container {
    width: 80%;
    border-style: none;
    border-radius: 16px;
    background-color: #e9eef5;
    padding: 20px 28px;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.flashcard-container {
    width: 33%;
    padding: 20px;
}

.MuiCard-root:hover {
    cursor: pointer;
    background-color: lightblue;
}

.addcard-container {
    width: 30%;
}

.allcards-container {
    display: flex;
    flex-flow: row nowrap;
    padding: 20px 80px;
}