
.group-page-container {
    display: flex;
    flex-flow: column nowrap;
}

.group-contents {
    padding: 20px 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.users-container {
    width: 30%;
    padding: 8px 16px 8px;
    /* position: absolute; */
    /* left: 20px; */
    border: 1px solid gray;
    border-radius: 16px;
    background-color: #e9eef5;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.decks-container {
    background-color: aliceblue;
    width: 70%;
    margin: 0px 25px;
    padding: 23px;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.deck-container {
    width: 50%;
    padding: 20px;
}
