.add-card {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.create-deck-button {
    margin: 2px;
}

.create-deck-form {
    height: 200px;
}

.seperate {
    margin: 10px;
}

#CreateCardContainer {
    background-color: #e9eef5;
}

#CreateCardContainer:hover {
    background-color: #e9eef5;
}